@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: green;
}

.body__container {
    position: relative;
    margin: 0 auto;
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.background_picture{
    width: 1450px;
    margin-left: 75px;
    z-index: 1;
}

.payment_info{
    display: block;
    width: 1600px;
    height: 350px;
    z-index: 2;
}

.basic_package{
    position: absolute;
    margin-top: -255px;
    margin-left: 258px;
}

.normal_package{
    position: absolute;
    margin-top: -255px;
    margin-left: 542px;
}

.big_package{
    position: absolute;
    margin-top: -255px;
    margin-left: 826px; 
}

.biggest_package{
    position: absolute;
    margin-top: -255px;
    margin-left: 1110px;  
}
.line{
    width: 229px;
    height: 5px;
}

.dividing_line_1{
    position: absolute;
    top: 135px;
    left: 25px;
    width: 184px;
    height: 1px;
    background-color: #b9b9b9;
}

.dividing_line_2{
    position: absolute;
    top: 400px;
    left: 25px;
    width: 184px;
    height: 1px;
    background-color: #b9b9b9;
}

.package_container{
    width: 229px;
    height: 513px;
    border-style: solid;
    border-width: 1px;
    background: white;
    border-color: white #c6caca #c6caca #c6caca;
}

.package_name_text{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #282828;
    font-weight: bolder;
    display: block;
    text-align: center;
    margin-top: 98px;
}

.service_information{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #b9b9b9;
    position: absolute;
    left: 25px;
    bottom: 127px;
    line-height: 35px;
}

.value_information{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: absolute;
    display: block;
    text-align: right;
    right: 20px;
    bottom: 197px;
    line-height: 35px;    
}

.package_sign {
    position: absolute;
    display: block;
    height: 20px;
    font-size: 17px;
    margin-left: 102px;
    margin-top: 54px;
    z-index: 5;
}

.circle_yellow {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    top: -86px;
    left: 78px;
    border-radius: 50%;
    background-image: linear-gradient(-0deg, #fff 50%, transparent 50%), linear-gradient(90deg, #fff 50%, #f9d423 50%);
}

.circle_eraser_yellow{
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    top: 6.5px;
    left: 4px;
    height: 49px;
    width: 49px;
}

.circle_grey {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    top: -86px;
    left: 86px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #fff 50%, transparent 50%), linear-gradient(90deg, #fff 50%, #7f8c8d 50%);
}

.circle_eraser_grey{
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    top: 6px;
    left: 5.6px;
    height: 38px;
    width: 38px;
}

.circle_red {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    top: -86px;
    left: 86px;
    border-radius: 50%;
    background-image: linear-gradient(-90deg, #f85f40 50%, transparent 50%), linear-gradient(0deg, #f85f40 50%, #fff 50%);
}

.circle_eraser_red{
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    top: 6px;
    left: 5.6px;
    height: 38px;
    width: 38px;
}

.circle_emerald {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    top: -86px;
    left: 86px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #fff 0%, transparent 0%), linear-gradient(90deg, #fff 0%, #1abc9c 0%);
}

.circle_eraser_emerald{
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    top: 6px;
    left: 5.6px;
    height: 38px;
    width: 38px;
}

.dollar_sign{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #282828;
    font-weight: bolder;
    position: absolute;
    margin-top: -98px; 
    margin-left: 85px;    
}

.price_text{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: #282828;
    font-weight: bolder;
    position: absolute;
    margin-top: -101px; 
    margin-left: 95px;      
}

.per_month_text{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #7f8c8d;
    position: absolute;
    margin-top: -87px; 
    margin-left: 125px;    
}

.price_line{
    position: absolute;
    top: 451px;
    left: 70px;
    width: 94px;
    height: 3px;
}

.select_plan_text{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #282828;
    font-weight: bolder;
    position: absolute; 
    margin-top: -50px;
    margin-left: 70px;
}

.empty_space{
    position: static;
    width: 1600px;
    height:320px;
}

.separator{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #b9b9b9;
}

.about_us_info{
    width: 1600px;
    height: 355px;
    position: static;
}

.about_word{
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    color: #282828;
    font-weight: 900;
    position: absolute;
    margin-top: 83px;
    margin-left: 256px;
}

.us_word{
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    color: #282828;
    font-weight: 600;
    position: absolute; 
    margin-top: 84px;
    margin-left: 355px;
}

.about_us_text{
    font-size: 16.1px;
    font-family: 'Lato', sans-serif;
    color: #b9b9b9;
    position: absolute;
    margin-left: 258px;
    margin-top: 141px;
    line-height: 24px;
}

.vertical_dots{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: #b9b9b9;
    position: absolute;
    margin-left: 726px;
    margin-top: 70px;
    line-height: 8px;    
}

.jonny_doe{
    margin-left: 822px;
    margin-top: 92px;
}

.john_doe{
    margin-left: 1028px;
    margin-top: 92px;    
}

.johnathan_doe{
    margin-left: 1234px;
    margin-top: 92px; 
}

.designer_photo {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 5px solid rgb(228, 228, 229);
    background-size: cover;
}

.designer_name{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #282828;
    font-weight: bolder;
    display: block;
    position: absolute;
    margin-top: 100px;
}

.designer_word{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #b9b9b9;
    position: absolute;
    margin-top: 123px;
    margin-left: 20px;
}

.designer_pages{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 150px;
    width: 87px;
    justify-content: space-between;
    text-align: center;
}

.designer_page {
    color: rgb(198, 198, 198);
    transition: color 0.1s linear;
}

.designer_page:hover {
    color: rgb(26, 130, 184);
}

#color_yellow{
    color: #f9d423;   
}

#background_color_yellow{
    background-color: #f9d423;
}

#color_grey{
    color: #7f8c8d;   
}

#background_color_grey{
    background-color: #7f8c8d;
}

#color_red{
    color: #f85f40;   
}

#background_color_red{
    background-color: #f85f40;
}

#color_emerald{
    color: #1abc9c;   
}

#background_color_emerald{
    background-color: #1abc9c;
}

#offset_jonny{
    margin-left: 10px;
}

#offset_john{
    margin-left: 15px;
}

#offset_johnathan{
    margin-left: -8px
}
